<section id="customEmail">
	<div class="customEmail__card">
		<div class="customEmail__card__image">
			<img src="img/blacksmith-customhtmlemail.svg" alt="">	
		</div>
		<div class="customEmail__card__text">
			<h2>Looking for a custom email template?</h2>
			<p>We know coding emails is hard. Do not bother dealing with tables, browsers and html limitations, we create a custom email based on your needs, meanwhile you continue conquering the 7 kingdoms</p>
			<a href="https://mailforge.typeform.com/to/pfwuIz" class="btn btn--orange">Yes, Craft an email just for me</a>
		</div>
	</div>
</section>