---
---

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <title>Mailforge | HTML email templates </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content=" mailforge provides email templates for startups, freelancers, e-commerce businesses. Crafted by top HTML blacksmiths" />
    <meta name="keywords" content="email, email marketing, html, html templates, email html templates, marketing" />
    <meta name="author" content="mailforge" />
    <!-- Facebook -->
    <meta property="og:url" content="http://mailforge.co" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mailforge" />
    <meta property="og:description" content="HTML email templates" />
    <meta property="og:image" content="" />
    <meta property="og:image:type" content="image/jpeg" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mailforge" />
    <meta name="twitter:creator" content="@mailforge" />
    <meta name="twitter:image" content=“” />
    <!-- Icons -->
    <link rel="icon" href="" type="image/x-icon" />
    <meta name="theme-color" content="#72C02C">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Google analitycs -->
    <script>
    </script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
             <a href="index.html"> <img src="img/mailforge.svg" alt=""></a>
            </div>

            <ul class="navBullets">
                <li><a href="#customEmail">Looking for a custom template?</a></li>
            </ul>
        </nav>
        <div class="hero">
            <h1>Developing HTML email It's old skool</h1>
            <h3>
                We equip startups and entrepreneurs with sharp email templates crafted by top HTML blacksmiths. Emails that will make your users “click”!
            </h3>
        </div>
        <div class="benefitsContainer">
          <div class="benefits">
            <div class="benefits__element">
                <img src="img/compatible-email.svg" alt="">
                <h3>Compatible with your Email Service Provider</h3>
                <p>Import the code to your Mailchimp, ConvertKit, or ConstantContact account and make changes without problem</p>
            </div>
            <div class="benefits__element">
                <img src="img/responsive-email.svg" alt="">
                <h3>Fully Mobile<br> Responsive</h3>
                <p>47% of emails are open on mobile devices and 80% of people delete them If it doesn't look good</p>
            </div>
            <div class="benefits__element">
                <img src="img/email-client.svg" alt="">
                <h3>Works on a long list of email clients</h3>
                <p>Tested in outlook, gmail, apple mail, adroid and many more</br></br></br>
                </p>
            </div>
          </div>
        </div>     
    </header>
    <section class="containerEmails">
        <div class="emailsElement">
            <div class="emailElement__image">
               <a href="reset-password.html"><img src="img/preview-Reset-Password.png" alt="Reset Password email template"></a>
            </div>
            <div class="emailElement__text">
                <a href="reset-password.html"><h2>Reset Password</h2></a>
                <p>A very clean interface leaving out anything that may potentially confuse the user as well having a bulletproof button that works in all email clients</p>
                <a class="btn btn--yellow" href="reset-password.html">Look details</a>
            </div>
        </div>
        <div class="emailsElement">
            <div class="emailElement__image">
                <a href="welcome-message.html"><img src="img/preview-onboarding-welcome-message.png" alt="welcome message email template"></a>
            </div>
            <div class="emailElement__text ">
                <a href="welcome-message.html"><h2>Welcome Message</h2></a>
                <p>When a new user registers to your app, or subscribe to your list, send an automated welcome email that creates engagement and guide the users to the next steps</p>
                <a class="btn btn--yellow" href="welcome-message.html">Look details</a>
            </div>
        </div>
    </section>
    {% include customEmail.html %}
    {% include footer.html %}

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>

    <script src="js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-105979245-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>